.container-newsletter {
    background: #164334;
    background: -webkit-linear-gradient(106deg, #164334 0%, #37a984 100%);
    background: linear-gradient(106deg, #164334 0%, #37a984 100%);
    color: #ffff;
    
    h2 {
        color: #ffff;
    }

    button {
        background-color: #164334;
        color: #ffff;
    }
}

.container-footer {
    background-color: $info;
    .user-icon {
        color: $primary;
    }

    button {
        color: #ffff;
    }

    .social-icon li {
            color: $primary;
            margin: 1rem;
        }   

}


