<form method="post" action="{{ path('app_newsletter_suscribers_delete', {'id': newsletter_suscriber.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ newsletter_suscriber.id) }}">
    <button class="btn">Delete</button>
</form>
