{% extends 'base.html.twig' %}

{% block title %}Edit Administrators{% endblock %}

{% block body %}
    <h1>Edit Administrators</h1>

    {{ include('administrators/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_administrators_index') }}">back to list</a>

    {{ include('administrators/_delete_form.html.twig') }}
{% endblock %}
