{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block main %}
<div class="legal-info"|raw>
    <h1>Mentions Légales</h1>
    
    <section>
        <h2>1. Présentation du site internet</h2>
        <p><strong>Nom de l'entreprise :</strong> RNS LAB</p>
        <p><strong>Adresse du siège social :</strong> 128 Rue La Boétie, 75008 Paris</p>
        <p><strong>Téléphone :</strong> +33(0)0 00 00 00 00</p>
        <p><strong>Numéro SIRET :</strong> 979 213 626 00018</p>
        <p><strong>Numéro TVA :</strong> FR61 979 213 626</p>
        <p><strong>Capital :</strong> 100 000 EUR</p>
        <p>Le site <a href="https://laboratoirerenascor.com">https://laboratoirerenascor.com</a> est la propriété exclusive de RNS LAB, qui l'édite.</p>
    </section>

    <section>
        <h2>2. Conditions générales d'utilisation du site</h2>
        <p>
            L’utilisation du site <a href="https://laboratoirerenascor.com">https://laboratoirerenascor.com</a> implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites.
            Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site <a href="https://laboratoirerenascor.com">https://laboratoirerenascor.com</a> sont donc invités à les consulter de manière régulière.
        </p>
    </section>

    <section>
        <h2>3. Description des services fournis</h2>
        <p>
            Le site <a href="https://laboratoirerenascor.com">https://laboratoirerenascor.com</a> a pour objet de fournir une information concernant l’ensemble des activités de la société.
            RNS LAB s’efforce de fournir sur le site <a href="https://laboratoirerenascor.com">https://laboratoirerenascor.com</a> des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
        </p>
    </section>

    <section>
        <h2>4. Propriété intellectuelle et contrefaçons</h2>
        <p>
            RNS LAB est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.
            Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : RNS LAB.
        </p>
    </section>

    <section>
        <h2>5. Gestion des données personnelles</h2>
        <p>
            Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée.
        </p>
        <p>
            Aucune information personnelle de l'utilisateur du site <a href="https://laboratoirerenascor.com">https://laboratoirerenascor.com</a> n'est publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l'hypothèse du rachat de RNS LAB et de ses droits permettrait la transmission des dites informations à l'éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis-à-vis de l'utilisateur du site <a href="https://laboratoirerenascor.com">https://laboratoirerenascor.com</a>.
        </p>
    </section>

    <section>
        <h2>6. Liens hypertextes et cookies</h2>
        <p>
            Le site <a href="https://laboratoirerenascor.com">https://laboratoirerenascor.com</a> contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec l’autorisation de RNS LAB. Cependant, RNS LAB n’a pas la possibilité de vérifier le contenu des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.
        </p>
        <p>
            La navigation sur le site <a href="https://laboratoirerenascor.com">https://laboratoirerenascor.com</a> est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.
        </p>
    </section>

    <section>
        <h2>7. Droit applicable et attribution de juridiction</h2>
        <p>
            Tout litige en relation avec l’utilisation du site <a href="https://laboratoirerenascor.com">https://laboratoirerenascor.com</a> est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.
        </p>
    </section>

    <section>
        <h2>8. Les principales lois concernées</h2>
        <p>
            Loi n° 78-17 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés.
        </p>
        <p>
            Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.
        </p>
    </section>

    <section>
        <h2>9. Lexique</h2>
        <p>
            Utilisateur : Internaute se connectant, utilisant le site susnommé.
        </p>
        <p>
            Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).
        </p>
    </section>
</div>
{% endblock %}
